<meta charset="utf-8">

<md-dialog  role="dialog" tabindex="-1" aria-describedby="dialog_63" class="md-transition-in" aria-label="Add Dessert ..." style="">
  <md-dialog-content class="md-dialog-content" id="dialog_63">
    
    <h2 class="md-title">Cadastrar Usuário</h2>
    
    <!-- ngIf: item.form.$submitted && item.form.$invalid -->
    
    <form name="usuarioForm"  >
      <div layout="row" class="input-row layout-row" >
        <md-input-container class="flex">
          <label for="input_55">Nome</label>
          <input name="name" ng-model="usuario.nome"  id="input_55" aria-required="true" aria-invalid="true" ng-trim="false">
        </md-input-container>
        <md-input-container class="flex">
          <label for="input_55">CPF</label>
          <input name="cpf" ng-model="usuario.cpf"  ui-mask="999.999.999-99" id="input_55" aria-required="true" aria-invalid="true" ng-trim="false">
        </md-input-container>        
      </div>
      <div>
        <md-input-container class="flex">
          <label for="input_55">Email</label>
          <input name="email" ng-model="usuario.email" ng-pattern="/^.+@.+\..+$/" id="input_55" aria-invalid="true" ng-trim="false">
          <div ng-messages="usuarioForm.email.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Insira um email válido
          </div>
        </div>
        </md-input-container>        
        <md-input-container class="flex">
          <label for="input_55">Senha</label>
          <input type="password" name="senha" ng-model="usuario.senha" required="" id="input_55" aria-required="true" aria-invalid="true" ng-trim="false">
        </md-input-container>        
      </div>
      
        
      <div layout="row" class="input-row layout-row">
        <md-input-container>
          <label>Unidade de Ensino</label>
          <md-select ng-model="usuario.userState">
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="state in usuario.states" ng-value="state.abbrev" ng-disabled="$index === 1">
              {{state.abbrev}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
        
     
    </form>
    
  </md-dialog-content>
  
  <div class="md-actions">
        
    <button class="md-primary md-button md-ink-ripple" type="button" ng-click="novoUsuario(usuario)" ng.disabled="!usuario.nome"><span>Adicionar</span></button>
    <button class="md-primary md-button md-ink-ripple" type="button" ng-click="cancel()" aria-label="Cancel"><span>Cancelar</span></button>
  </div>
  
<div class="md-dialog-focus-trap" tabindex="0"></div></md-dialog>


