
<md-card>
  
  <md-grid-list md-cols="2"  md-row-height="64px">
    <md-grid-tile id="listaEsquerda">
      <md-button  ng-click="addItem($event)" >
      	<ng-md-icon id="iconAdd" icon="playlist_add" style="fill: #abcdef" size="36"></ng-md-icon>
      </md-button>

      <md-button >
      	<ng-md-icon id="iconCreate" icon="create" style="fill: #abcdef" size="36"></ng-md-icon>
      </md-button>

      <md-button  id="buttonRemove" >
        <ng-md-icon id="iconRemove" icon="remove" style="fill: #abcdef" size="36"></ng-md-icon>
      </md-button>
    </md-grid-tile>

    <md-grid-tile id="listaDireita">
      <md-card-content>
        <div layout="row">
          <md-input-container>
            <label>Buscar por</label>
            <input>
          </md-input-container>

          <md-input-container>
            <label>Nome</label>
            <md-select ng-model="ctrl.userState">
              <md-option><em>None</em></md-option>
              <md-option ng-repeat="item in items" ng-value="item" >
                {{item}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-button >
            <ng-md-icon id="iconSearch" icon="search" style="fill: #abcdef" size="36"></ng-md-icon>     
          </md-button>
        </div>
      </md-card-content>
    </md-grid-tile>
  </md-grid-list>

  <md-table-container>
    <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
      <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
        <tr md-row>
          <th md-column md-order-by="nome"><span>Nome</span></th>
          <th md-column md-order-by="cnpj" md-desc><span>CNPJ</span></th>
          <th md-column md-order-by="instituicao"><span>Instituições</span></th>
          <th md-column md-order-by="obs"><md-icon>comments</md-icon><span>Observações</span></th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-select="estagio" md-on-select="logItem" md-auto-select="options.autoSelect" ng-disabled="estagio.calories.value > 400" ng-repeat="estagio in estagios.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
          <td md-cell>{{estagio.nome}}</td>
          <td md-cell>{{estagio.cnpj}}</td>
                     
           <td md-cell>
            <md-select ng-model="estagio.instituicao" placeholder="Other">
              <md-option ng-value="type" ng-repeat="type in getInstituicaoes()">{{type}}</md-option>
            </md-select>
          </td>
          
          <td md-cell ng-click="editObs($event, estagio)" ng-class="{'md-placeholder': !estagio.obs}">{{estagio.obs || 'Add a obs'}}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{estagios.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination">
  </md-table-pagination>
  
</md-card>


