<meta charset="utf-8">

<md-dialog  role="dialog" tabindex="-1" aria-describedby="dialog_63" class="md-transition-in" aria-label="Add Dessert ..." style="">
  <md-dialog-content class="md-dialog-content" id="dialog_63">
    
    <h2 class="md-title">{{title}}</h2>
    
    <!-- ngIf: item.form.$submitted && item.form.$invalid -->
    
    <form name="turmaForm"  >
      <div layout="row" class="input-row layout-row" >
        <md-input-container class="flex">
          <label for="input_55">Nome</label>
          <input name="name" ng-model="turma.nome"  id="input_55" ng-required="true" ng-trim="false">
        </md-input-container>
        </div>
        <div  layout="row" class="input-row layout-row">
        <md-input-container class="flex">
          <label for="input_55">Curso</label>
           <md-select ng-model="turma.curso" ng-required="selectRequired">
            <md-option ng-repeat="item in cursos" ng-selected="item.id == turma.curso.id" ng-value="item" >
              {{item.nome}}
            </md-option>
          </md-select>
        </md-input-container>        
      </div>
      <div  layout="row" class="input-row layout-row">
        <md-input-container class="flex">
          <label for="input_55">Turno</label>
           <md-select ng-model="turma.turno" ng-required="selectRequired">
            <md-option ng-value="manha" >
              Manhã
            </md-option>
            <md-option ng-value="tarde" >
              Tarde
            </md-option>
            <md-option ng-value="noite" >
              Noite
            </md-option>
            
          </md-select>
        </md-input-container>    
      </div>
    </form>
    
  </md-dialog-content>
  
  <div class="md-actions">
        
    <button class="md-primary md-button md-ink-ripple" type="button" ng-click="novaTurma(turma)" ng-show="novo" ng-disabled="turmaForm.$invalid"><span>Salvar</span></button>
    <button class="md-primary md-button md-ink-ripple" type="button" ng-click="editarTurma(turma)" ng-show="editar" ng-disabled="turmaForm.$invalid"><span>Salvar</span></button>
    <button class="md-primary md-button md-ink-ripple" type="button" ng-click="cancel()" aria-label="Cancel"><span>Cancelar</span></button>
  </div>
  
<div class="md-dialog-focus-trap" tabindex="0"></div></md-dialog>


