<md-card>  
	<md-grid-list md-cols="2"  md-row-height="64px" >
		<md-grid-tile id="listaEsquerda" ng-show="autorizacao">
			<md-button ng-click="abrirModal($event)" ng-disabled="buttonAddDisabled">
				<md-tooltip md-direction="top">Adicionar</md-tooltip>
				<ng-md-icon id="adicionar" icon="add_circle" style="fill: #abcdef" size="36"></ng-md-icon>
			</md-button>

			<md-button ng-click="abrirModal($event)" ng-disabled="buttonEditDisabled">
				<md-tooltip md-direction="top">Editar</md-tooltip>
				<ng-md-icon id="editar" icon="create" style="fill: #abcdef" size="36"></ng-md-icon>
			</md-button>

			<md-button ng-click="showConfirm($event)" id="buttonRemove" ng-disabled="buttonRemoveDisabled">
				<md-tooltip md-direction="top">Deletar</md-tooltip>
				<ng-md-icon id="iconRemove" icon="delete" style="fill: #abcdef" size="36"></ng-md-icon>
			</md-button>
		</md-grid-tile>

		<md-grid-tile id="listaDireita">
			<md-card-content>
				<div layout="row">
					<md-input-container>
						<label>Buscar</label>
						<form flex="" name="filter.form" class="flex">
							<input type="text" ng-model="query.filter"  class="">
						</form>
					</md-input-container>
				</div>
			</md-card-content>
		</md-grid-tile>
	</md-grid-list>

	<md-table-container>
		<table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selecionados" md-progress="promise">
			<thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
				<tr md-row>
					<th md-column md-order-by="nome"><span>Empresa</span></th>
					<th md-column md-order-by="data"><span>Data da Visita</span></th>
					<th md-column md-order-by="usuario.nome"><span>Orientador</span></th>
				</tr>
			</thead>
			<tbody md-body>
			   	<tr md-row="" md-select="empresa" md-select-id="name" md-on-select="buttonEnable" md-on-deselect="buttonEnable" md-auto-select="options.autoSelect" ng-repeat="empresa in data.empresas | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">          			
					<td md-cell>{{empresa.nome}}</td>
					<td md-cell>{{empresa.data | date:'dd/MM/yyyy' : 'UTC'}}</td>
					<td md-cell>{{empresa.usuario.nome}}</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>
  	<md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{data.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination">  
	</md-table-pagination>

	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-mode="indeterminate"  ng-show="isLoading"></md-progress-circular>
	</div>

</md-card>