<html ng-app="projeto-estagios">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projeto Estágios</title>
    <link rel="icon" href="https://sc.senai.br/sites/default/files/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="projeto/css/angular-material.css">
    <link rel="stylesheet" href="projeto/css/material-icons.css">
    
	<link rel="stylesheet" href="projeto/css/angular-toastr.css" />
    <link rel="stylesheet" href="projeto/css/md-data-table.css">
	<link rel="stylesheet" href="projeto/css/bootstrap.css">
    <link rel="stylesheet" href="projeto/estagio/estagio.css">
  </head>
	<body layout="column">
		<md-content laout="column" ng-controller="estagioController">
			<div class="navbar navbar-default navbar-fixed-top" id="navbarMenu" role="navigation">
				<div class="container"> 
					<!--a class="navbar-brand" href=""><img src="projeto/img/Logo.png"></a-->
					<a class="navbar-brand" href="">
					<h1  id="logo">Controle Estágio</h1>
					</a>


					<md-menu md-offset="0 -7">
							<md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
						  	<h2 class="md-title">{{usuario}}</h2>
      							<md-tooltip md-direction="top">Adicionar</md-tooltip>
      							<ng-md-icon id="editar" icon="more_vert" style="fill: #abcdef" size="36"></ng-md-icon>
							</md-button>
							<md-menu-content width="2">
								<md-menu-item>
									<md-button ng-click="showEdit(item,$index)">
									    <md-tooltip md-direction="top">Adicionar</md-tooltip>
      									<ng-md-icon id="adicionar" icon="add_circle" style="fill: #abcdef" size="36"></ng-md-icon>
									</md-button>
								</md-menu-item>
								<md-menu-item>
									<md-button ng-click="removeStock(item.id,$index)">
									    <md-tooltip md-direction="top">Adicionar</md-tooltip>
      									<ng-md-icon id="adicionar" icon="add_circle" style="fill: #abcdef" size="36"></ng-md-icon>
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>





<!--  				<ul class="nav navbar-nav navbar-right">
						<li class="nome-logado" ng-click="logout()">
							{{usuario}}<i class="glyphicon glyphicon-log-out" aria-hidden="true"></i>
						</li>
					</ul>
-->
				</div>
			</div>
			<div class="container-fluid" ng-show="links" id="menu" style="color:#313b3f;">
				<md-content class="md-padding">
					<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
					<md-nav-item md-nav-click="menuClick('/estagio')" name="page1">Estágio</md-nav-item>
					<md-nav-item md-nav-click="menuClick('/usuario')" name="page6">Usuário</md-nav-item>
					<md-nav-item md-nav-click="menuClick('/curso')" name="page4">Curso</md-nav-item>
					<md-nav-item md-nav-click="menuClick('/turma')" name="page5">Turma</md-nav-item>
					<md-nav-item md-nav-click="menuClick('/empresa')" name="page3">Empresa</md-nav-item>					
					<md-nav-item md-nav-click="menuClick('/instituicao')" name="page7">Instituição</md-nav-item>
					<md-nav-item md-nav-click="menuClick('/unidadeEnsino')" name="page2">Unidade De Ensino</md-nav-item>
				</md-content>
			</div>
			
			<div ng-view>
			</div>
		
			<div class="footer" ng-show="rodape"><p class="denvelopers">Desenvolvedores | Alexandre Ferreira da Silva, Caio Ricardo Lessin, Eduardo Fabrício Pacheco e Jeronimo Fleith de Lima</p></div>
		</md-content>
		<script src="projeto/js/angular.min.js"></script>
		<script src="projeto/js/angular-route/angular-route.min.js"></script>
		<script src="projeto/js/angularjs-toaster/toaster.min.js"></script>
		<script src="projeto/js/angular-resource.min.js"></script>
		<script src="projeto/js/angular-animate.min.js"></script>
		<script src="projeto/js/angular-aria.min.js"></script>
		<script src="projeto/js/angular-messages.min.js"></script>
		<script src="projeto/js/angular-material.min.js"></script>
		<script src="projeto/js/angular-material-icons.min.js"></script>
		<script src="projeto/js/angular-toastr.js"></script>
		<script src="projeto/js/angular-storage/ngstorage/ngStorage.min.js"></script>
		<script src="projeto/js/md-data-table.js"></script>		
		<script src="projeto/js/ui-bootstrap-tpls.min.js"></script>
		<script src="projeto/js/angular-mask.min.js"></script>
		
		<script src="projeto/js/moment.js"></script>
	
		<script src="projeto/js/jquery.js"></script>
		<script src="projeto/js/angular-br-filters.min.js"></script>
		<script src="projeto/js/bootstrap.js"></script>
		<script src="module.js"></script>
		<script src="projeto/service/services.js"></script>
		<script src="projeto/estagio/estagio.js"></script>
		<script src="projeto/estagio/cadastroEstagio.js"></script>
		<script src="projeto/estagio/relatorioEstagio.js"></script>
		<script src="projeto/usuario/usuario.js"></script>
		<script src="projeto/unidadeEnsino/unidadeEnsino.js"></script>
		<script src="projeto/turma/turma.js"></script>
		<script src="projeto/empresa/empresa.js"></script>
		<script src="projeto/curso/curso.js"></script>
		<script src="projeto/instituicao/instituicao.js"></script>
		<script src="projeto/interceptor/auth.interceptor.js"></script>
	</body> 
</html>
