<html ng-app="projeto-estagios">

  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projeto Estágios</title>
    
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="projeto/css/index2.css">
    
         
  </head>

<body layout="column">
   		    
    <md-content laout="column" flex ng-controller="nutritionController">
     
      <div class="navbar navbar-default navbar-fixed-top" id="navbarMenu" role="navigation">
	  	<div class="container"> 
	  	 <a class="navbar-brand" href=""><img src="projeto/img/Logo.png"></a>
	  	
	    	<ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong>Usuário</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>Marcia</strong></p>
                                        <p class="text-left small">Marcia@senai.com</p>
                                        <p class="text-left">
                                            <a href="#" class="btn btn-primary btn-block btn-sm">Atualizar Dados</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <div class="navbar-login navbar-login-session">
	                                <div class="row">
	                                    <div class="col-lg-12">
	                                        <p>
	                                            <a href="#" class="btn btn-danger btn-block">Sair</a>
	                                        </p>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </li>
	            </ul>
	        </div>
		</div>
		
		
			
				<div class="container-fluid" id="menu">
					<div class="navbar-header">
						<button aria-controls="bs-navbar" aria-expanded="false"
							class="collapsed navbar-toggle" data-target="#bs-navbar"
							data-toggle="collapse" type="button">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a href="../" class="navbar-brand" id="estagios" >Estágios</a>
					</div>
					<nav class="collapse navbar-collapse" id="bs-navbar">
						<ul class="nav navbar-nav">
							<li><a href="../Relatórios/">Menu 1</a></li>
							<li><a href="../components/">Menu2</a></li>
							<li><a href="../javascript/">Menu 3</a></li>
							<li><a href="../customize/">Menu 4</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="http://themes.getbootstrap.com"
								onclick="ga(&quot;send&quot;,&quot;event&quot;,&quot;Navbar&quot;,&quot;Community links&quot;,&quot;Themes&quot;)">Relatórios</a></li>
							<li><a href="http://expo.getbootstrap.com"
								onclick="ga(&quot;send&quot;,&quot;event&quot;,&quot;Navbar&quot;,&quot;Community links&quot;,&quot;Expo&quot;)">Cadastro</a></li>
							<li><a href="http://blog.getbootstrap.com"
								onclick="ga(&quot;send&quot;,&quot;event&quot;,&quot;Navbar&quot;,&quot;Community links&quot;,&quot;Blog&quot;)">Novo</a></li>
						</ul>
					</nav>
				</div>
			
			
	 <!--   
      <md-card>
        <div layout="row" layout-wrap class="checkboxes">
          <md-checkbox ng-model="options.rowSelection">Row Selection</md-checkbox>
          <md-checkbox ng-model="options.multiSelect">Multiple Selection</md-checkbox>
          <md-checkbox ng-model="options.autoSelect">Auto Selection</md-checkbox>
          <md-checkbox ng-model="options.decapitate">Decapitate</md-checkbox>
          <md-checkbox ng-model="options.largeEditDialog">Lard Edit Dialogs</md-checkbox>
          <md-checkbox ng-model="options.boundaryLinks">Pagination Boundary Links</md-checkbox>
          <md-checkbox ng-model="options.limitSelect" ng-click="toggleLimitOptions()">Pagination Limit Select</md-checkbox>
          <md-checkbox ng-model="options.pageSelect">Pagination Page Select</md-checkbox>
        </div>
      </md-card>
      -->
      <md-card>
          
      <md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length || filter.show" aria-hidden="false">
		  <div class="md-toolbar-tools">
		    <ng-md-icon icon="playlist_add" style="fill: #abcdef" size="36"></ng-md-icon>
		    <ng-md-icon icon="create" style="fill: #abcdef" size="36"></ng-md-icon>
		    <ng-md-icon icon="remove" style="fill: #abcdef" size="36"></ng-md-icon> 
		   
		    <div flex="" class="flex"></div>
		  </div>
	   </md-toolbar>
    
        
        <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
          <div class="md-toolbar-tools">
            <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
          </div>
        </md-toolbar>
        <md-table-container>
          <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
            <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
              <tr md-row>
                <th md-column md-order-by="nome"><span>Nome</span></th>
                <th md-column md-order-by="curso" md-desc><span>Curso</span></th>
                <th md-column md-order-by="empresa"><span>Empresa</span></th>
                <th md-column md-order-by="dataInicio"><span>Data Início</span></th>
                <th md-column md-order-by="dataFim"><span>Data Fim</span></th>
                <th md-column md-order-by="rescisao"><span>Rescisão</span></th>
                <th md-column md-order-by="aditivo"><span>Aditivo</span></th>
                <th md-column md-order-by="visita"><span>Visita Empresa</span></th>
                <th md-column md-order-by="orientador"><span>Orientador</span></th>
                <th md-column md-order-by="situacao"><span>Situação</span></th>
                <th md-column md-order-by="sgn"><span>SGN</span></th>
                <th md-column md-order-by="instituicao"><span>Instituições</span></th>
                <th md-column md-order-by="obrigatorio"><span>Obrigatorio</span></th>
                <th md-column md-order-by="obs">
                  <md-icon>comments</md-icon>
                  <span>Observações</span>
                </th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="estagio" md-on-select="logItem" md-auto-select="options.autoSelect" ng-disabled="estagio.calories.value > 400" ng-repeat="estagio in estagios.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                <td md-cell>{{estagio.nome}}</td>
                <td md-cell>{{estagio.curso}}</td>
                 <td md-cell>{{estagio.empresa}}</td>
                 <td md-cell>{{estagio.dataInicio}}</td>
                 <td md-cell>{{estagio.dataFim}}</td>
                 <td md-cell>{{estagio.rescisao}}</td>
                 <td md-cell>{{estagio.aditivo}}</td>
                 <td md-cell>{{estagio.visita}}</td>
                 <td md-cell>{{estagio.orientador}}</td>
                 <td md-cell>{{estagio.situacao}}</td>
                 <td md-cell>{{estagio.sgn}}</td>
                 
                 <td md-cell>
                  <md-select ng-model="estagio.instituicao" placeholder="Other">
                    <md-option ng-value="type" ng-repeat="type in getInstituicaoes()">{{type}}</md-option>
                  </md-select>
                </td>
                
                 <td md-cell>
                  <md-select ng-model="estagio.obrigatorio" placeholder="Other">
                    <md-option ng-value="type" ng-repeat="type in getOpcao()">{{type}}</md-option>
                  </md-select>
                </td>
                
                <td md-cell ng-click="editObs($event, estagio)" ng-class="{'md-placeholder': !estagio.obs}">
                  {{estagio.obs || 'Add a obs'}}
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{estagios.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
      </md-card>
    </md-content>
    <div class="footer"><p class="denvelopers">Copyright © 2017 | Alexandre Ferreira da Silva, Caio Ricardo Lessin, Eduardo Fabrício Pacheco e Jeronimo Fleith de Lima</p></div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>
    <script src="http://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.js"></script>
    <script src="projeto/js/jquery.js"></script>
    <script src="projeto/js/bootstrap.js"></script>
    <script src="projeto/js/module.js"></script>
    <script src="projeto/js/index2.js"></script>
    
  </body>
</html>