    <md-card ng-style="cardCadastroEstagio">
    	<h2 class="md-title">Cadastro de Estágio</h2>
		<md-card >
			<h2 class="md-title">{{title}}</h2>
			<form name="item.form" ng-submit="ctrl.addItem()" class="ng-pristine ng-invalid ng-invalid-required ng-valid-min ng-valid-max" style="">
				<md-grid-list md-cols="1"  md-row-height="64px" >
					<md-grid-tile id="listaEsquerda">
						<md-button ng-click="menuEstudante('adicionar')" ng-disabled="buttonAddDisabled">
							<ng-md-icon id="add" icon="add_circle" style="fill: #abcdef" size="36"></ng-md-icon>
						</md-button>

						<md-button ng-click="menuEstudante('listar')" ng-disabled="buttonListDisabled">
							<ng-md-icon id="list" icon="list" style="fill: #abcdef" size="36"></ng-md-icon>
						</md-button>
							
						<md-button ng-click="menuEstudante('editar', estagio.estudante)" id="buttonCreateDisabled" ng-disabled="!estagio.estudante">
							<ng-md-icon id="editar" icon="create" style="fill: #abcdef" size="36"></ng-md-icon>
						</md-button>
				
					</md-grid-tile>
				</md-grid-list>

				<div layout="row"  class="input-row layout-row" ng-show="adicionarEstudante">
					<md-input-container class="flex">
						<label>Turma</label>
						<md-select ng-model="estagio.turma" ng-required="selectRequired">
							<md-option ng-repeat="item in turmas" ng-selected="item.id == estagio.turma.id" ng-value="item" >
								{{item.nome}}
							</md-option>
						</md-select>
					</md-input-container>

					<md-input-container  class="flex">
						<label for="input_55">Novo Estudante</label>
						<input name="name" ng-model="estagio.novoEstudante"  ng-required="true" ng-trim="false">
					</md-input-container>
									
					<md-input-container  class="flex">
						<label for="input_55">CPF</label>
						<input name="name" ng-model="estagio.cpf" ui-mask="999.999.999-99" ng-required="true" ng-trim="false">
					</md-input-container>
				</div>

		
				<div layout="row"  class="input-row layout-row" ng-show="listarEstudante">
					<md-input-container id="inputsEstudnte">
						<label>Turma</label>
						<md-select ng-model="estagio.turma" id="estagioTurma" ng-required="selectRequired">
							<md-option ng-repeat="item in turmas" ng-value="item" >
								{{item.nome}}
							</md-option>
						</md-select>
					</md-input-container>

					<md-input-container >
						<label>Estudante</label>
						<md-select ng-model="estagio.estudante" id="estagioEstudante" ng-required="selectRequired">
							<md-option ng-if="estagio.turma && estagio.turma.id == item.turma.id" ng-repeat="item in estudantes"  ng-value="item" >
								{{item.nome}}
							</md-option>
						</md-select>
					</md-input-container>						
				</div>
				
				<div layout="row"  class="input-row layout-row" ng-show="editarEstudante">
					<md-input-container class="flex">
						<label>Turma</label>
						<md-select ng-model="estagio.editTurma" ng-required="selectRequired" >
							<md-option ng-repeat="item in turmas"  ng-value="item.id" ng-selected="turmaEditar == item.id">
								{{item.nome}}
							</md-option>
						</md-select>
					</md-input-container>

					<md-input-container  class="flex">
						<label for="input_55">Novo Estudante</label>
						<input name="name" ng-model="estagio.editEstudante.nome"  ng-required="true" ng-trim="false">
					</md-input-container>
									
					<md-input-container  class="flex">
						<label for="input_55">CPF</label>
						<input name="name" ng-model="estagio.editCpf" ui-mask="999.999.999-99" ng-required="true" ng-trim="false">
					</md-input-container>
				</div>
				
			</form>
		</md-card>	
	
		<md-card >
			<h2 class="md-title">Dados Do Estágio</h2>
			<form name="item.form" ng-submit="ctrl.addItem()" class="ng-pristine ng-invalid ng-invalid-required ng-valid-min ng-valid-max" style="">
				<div layout="row" class="input-row layout-row">
					<md-input-container class="flex">
						<md-checkbox ng-model="estagio.cadastroSGN" aria-label="Checkbox 1">
							Cadastro SGN: {{ estagio.cadastroSGN }}
						</md-checkbox>
					</md-input-container>
					
					<md-input-container class="flex">
						<md-checkbox ng-model="estagio.estagioObrigatorio" aria-label="Checkbox 1">
							Estágio Obrigatorio: {{ estagio.estagioObrigatorio }}
						</md-checkbox>
					</md-input-container>
					
					<md-input-container class="flex">
						<label for="data">Data Início</label>
						<md-datepicker ng-model="estagio.dataInicio" ng-required="true" ng-trim="false"></md-datepicker>
					</md-input-container>
					
					<md-input-container class="flex">
						<label for="data">Data Fim</label>
						<md-datepicker ng-model="estagio.dataFim" ng-required="true" ng-trim="false"></md-datepicker>
					</md-input-container>
				</div>						
				
				<div layout="row" class="input-row layout-row">
					<md-input-container class="flex">
						<label>Empresa</label>
						<md-select ng-model="estagio.empresa" ng-required="selectRequired">
							<md-option ng-repeat="item in empresas" ng-selected="item.id == estagio.empresa.id" ng-value="item" >
								{{item.nome}}
							</md-option>
						</md-select>
					</md-input-container>

					<md-input-container class="flex">
						<label for="data">Rescisão</label>
						<md-datepicker ng-model="estagio.dataRescisao" ng-required="false" ng-trim="false"></md-datepicker>
					</md-input-container>

					<md-input-container class="flex">
						<label for="data">Aditivo</label>
						<md-datepicker ng-model="estagio.dataAditivo" ng-required="false" ng-trim="false"></md-datepicker>
					</md-input-container>
					
					<md-input-container class="flex">
						<label>Instituição</label>
						<md-select ng-model="estagio.instituicao" id="estagioInstituicao" ng-required="selectRequired">
							<md-option ng-repeat="item in instituicoes" ng-selected="item.id == estagio.instituicao.id" ng-value="item" >
								{{item.nome}}
							</md-option>
						</md-select>
					</md-input-container>						
					
				</div>
							
				<div layout="row" class="input-row layout-row">
					<md-input-container class="flex">
						<label>Situação</label>
						<md-select ng-model="estagio.situacao" placeholder="Situação*" ng-required="selectRequired">
          					<md-option value="matriculado">Matriculado</md-option>
          					<md-option value="na">NA</md-option>
						</md-select>
					</md-input-container>	
	
					<md-input-container class="flex">
						<label>Observação</label>
						<input name="name" ng-model="estagio.observacao" id="input_55" ng-required="true" ng-trim="false">
					</md-input-container>
					
				</div>
			</form>
		
			<div class="md-actions">
    			<button class="md-primary md-button md-ink-ripple" type="button" ng-click="adicionarEstagio(estagio)" ng-disabled="estagio.$invalid"><span>Salvar</span></button>
   				<button class="md-primary md-button md-ink-ripple" type="button" ng-click="go('/')" aria-label="Cancel"><span>Cancelar</span></button>
			</div>
		</md-card>
	</md-card>
  
