body,md-content {
  background-color: #f5f5f5;
}

body > md-toolbar {
  z-index: 3;
}
md-nav-bar md-nav-ink-bar {
    background: rgb(33,150,243) !important;
}
md-nav-bar span.ng-scope{
color: rgb(33,150,243) !important;
}
md-toolbar.md-table-toolbar.alternate .md-toolbar-tools {
  font-size: 16px;
}

md-card:first-child {
  padding: 8px 8px 8px 24px;
}

.checkboxes > md-checkbox {
  margin: 0;
  padding: 16px;
  min-width: 300px;
  flex: 0 0 auto;
}

md-input-container{
	margin: 25px 10px;
}
.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; 
}

.navbar-login{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size{
    font-size: 87px;
}

#navbarMenu{
  background-color: #267ED5 !important;	
}

#menu{
	padding-top: 61px;
}

#estagios{
	 padding-top: 15px;
	
}

.dropdown-toggle{
	color:white !important;
}

.denvelopers{
	padding-top:15px;
	text-align: center;
	color:white;
	font-size:x-small;
}
.footer{
	position: fixed;
	bottom:0;
	height:5%;
	width:100%;
	background-color:#267ED5;
}

a{
	color:#313b3f !important;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  width: auto;
}

#listaEsquerda{
	margin-left: 24px;
}

#listaDireita,#iconSearch{
	margin-right: 24px;
}

#buttonRemove, #buttonCreateDisabled{
	margin-right:auto;
}

.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; 
}

#menuEstudante {
  background-color: rgb(255,255,255)
}

#logo{
	 margin-top: 13px;
	text-align: center;
	font: italic bold 22px arial;
	color: white;	
}

#sidenav{
  position: fixed;
    height: calc(100% - 200px);
    min-height: 200px;
    min-width: 300px;
    top: 125px;
    right: 20px;
    border: 1px solid #4f9acf;
    padding-top: 0px;
    border-radius: 3px;
    visibility: visible;
    opacity: 1;
    transition: all 200ms linear;
    overflow: hidden;
    box-shadow: -2px 2px 20px 0px rgba(45, 45, 45, 0.61);
}

#titulo{
	width: 100%;
    height: 39px;
    border-bottom: 1px solid #ccc;
    padding: 0 10px;
    position: relative;
    border-radius: 3px 3px 0 0;
    margin-top: 0px;
}

#tituloFiltro{
	color: #6ca6d1;
    font-size: 24px;
    font-weight: bold;
}

#md-card-content{
	margin-left: auto;
}

#md-input-container{
	margin-left: auto;
	margin-top: 40px;
}


.glyphicon-log-out{
	color: white;	
	font-size: 19px;	
	margin-top: 10px;
    height: 40px;
    vertical-align: sub;
    margin-left: 10px;
	
}

.nome-logado{
	margin-top: 7px;
	color: white;
}

#button-filtro > .md-button{
	margin: 5px;
}

#datas-filtro > md-input-container{
	margin-top: 50px;
	margin-bottom: 0px;
}

.carddemoBasicUsage .card-media {
  background-color: #999999; 
  }
  
#buttonVoltar{
	float: right;
	margin-right: 25px;
}  