body,
md-content {
  background-color: #f5f5f5 !important;
}

body > md-toolbar {
  z-index: 3;
}
md-nav-bar md-nav-ink-bar {
    background: rgb(33,150,243) !important;
}
md-nav-bar span.ng-scope{
color: rgb(33,150,243) !important;
}
md-toolbar.md-table-toolbar.alternate .md-toolbar-tools {
  font-size: 16px;
}

md-card:first-child {
  padding: 8px 8px 8px 24px;
}

.checkboxes > md-checkbox {
  margin: 0;
  padding: 16px;
  min-width: 300px;
  flex: 0 0 auto;
}

.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; 
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

#navbarMenu{
  background-color: #017338;	
}
a.dropdown-toggle{
	color:white !important;
}
.denvelopers{
	padding-top:15px;
	text-align: center;
	color:white;
	font-size:x-small;
}
.footer{
	position: fixed;
	bottom:0;
	height:5%;
	width:100%;
	background-color:#017338;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  width: auto;
}
