body{
	background-image: url(../img/joinville_2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
.buttonLogin:disabled{
	background-color:black;
	opacity:0.6;
	color:white;
}
body > div > md-content{
background-color: transparent !important;
}
.button_login {
	width:100% !important;
}
.login_title  h2{
	padding-left: 15px !important;
}
.box_login{
	border-radius: 0.350em;
	width: 40%;
	background-color: rgba(255,255,255,0.750);
	margin: 0 auto;
	margin-top: 18%;
}
.loginBox {
  max-width:  90%;
  width: 500px
}

.stretch input  {
  width: 100%
}
#login{
	background: rgba(4, 4, 4, 0.5);
}
#inputSenha, #inputEmail{
	padding: 20px;
    background-color: FFF;
    border-radius: 3px;
}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: rgba(4, 4, 4, 0.0);
}
.md-toolbar-tools {
	margin-left: auto;
    margin-right: auto;
}
.inputs{
	margin = 1px 1px;	
}
.formLogin label{
	color: white;
	font-size: 20px; 
}
md-toolbar .md-toolbar-tools{
	font-size: 25px; 
}










