@charset "utf-8";
body {
  font-family: 'Open Sans', 'sans-serif';
  background-color: #f9f9f9;
}
.navbar-default .navbar-nav > li > a{color:#FFF;}
.nav > li > a{margin:6px; font-size: 17px; color:#FFF;}
.nav .open > a, .nav .open > a:hover, 
.nav .open > a:focus,
.nav > li > a:hover, .nav > li > a:focus{background-color:transparent !important;}


    
.navbar-toggle{margin-top:20px !important;}
.dropdown-menu{background:#fff !important;}
.navbar-login
{
    width: 350px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.logo{
  	width: 250px;
}

.navbar {
	color:#FFF !important;
	background-color: #017338;
  	margin-bottom: 0;
  	border-radius: 0;
}

.logout{
	background-color:#017338;
	/*background-color: #145c36;*/
    border: none; 
    padding: 21px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;   
    cursor: pointer;
}

/* Métodos subscritos do bootstrap.css para fins de layout */
.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}
.navbar-inverse {
    border-color: #f9f9f9;
}
.navbar-brand {
    padding: 11px 9px;
}

